#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#Heading {
  color: white;
  margin-top: 10vh;
}

form {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 2%;
  margin-left: 35%;
  
  /* padding-top: 10%; */
  padding: 2% 5% 4% 5%;
}

input {
  padding: 10px;
}

#submit {
  margin-left: 25%;
  padding: 2%;
  width: 40%;
}

table {
  margin-left: 15%;
  width: 70vw;
  margin-bottom: 5%;
}

th {
  background-color: blue;
}

#showData {
  margin-top: 1%;
  margin-left: 45.5%;
}

#showData, #submit {
  background-color: blue;
  color: white; 
  border: 1px solid blue;
  border-radius: 6px;
}

.App {
  height: 100vh;
  background-image: url('../public/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

tr{
  background-color:white;
}

#showData:hover, #submit:hover {
  background-color: aqua;
  border-color: aqua;
  color: rgb(73, 43, 43);
}

#showData:active, #submit:active {
  transform: scale(90%);
  background-color: green;
  color: white; 
  border: 1px solid green;
}